In [1]:
# arac_fiyat_regresyon.ipynb IPythonNoteBook
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression as lr
from sklearn.model_selection import train_test_split as tts

* veri setinden veriler alıncak
* boş veri içeren satırlar silinecek
* tekrar eden satırlar silinecek
* year sütunundan age sütunu üretilecek
* name,year,Seats, Torque
* Mileage, Engine ve Max_power verilerinin sadece sayısal olmayan kısımları atılacak
* Fuel, Seller_type, Transmission ve Owner kategorik verileri sayısallaştırılacak.
* oluşan yeni veriler eğitim ve test verisi olarak 4 parçaya ayrılacak(x_egitim,y_egitim,x_test,y_test)
* eğitim verileri ile regresyon eğitimi yapılacak

In [2]:
#veri setinden veriler alıncak
veri = pd.read_csv("Car details v3.csv")
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [3]:
#boş veri içeren satırlar silinecek
veri_islem=veri.dropna(axis=0)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   mileage        7906 non-null   object
 9   engine         7906 non-null   object
 10  max_power      7906 non-null   object
 11  torque         7906 non-null   object
 12  seats          7906 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 864.7+ KB

In [4]:
# tekrar eden satırlar silinecek
veri_islem.drop_duplicates(subset=None,keep="first",inplace=True)
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  torque         6717 non-null   object
 12  seats          6717 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 734.7+ KB

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [8]:
# year sütunundan age sütunu üretilecek
from datetime import datetime
import warnings 
warnings.filterwarnings("ignore")
veri_islem["age"]=datetime.now().year-veri_islem["year"]
veri_islem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  torque         6717 non-null   object
 12  seats          6717 non-null   float64
 13  age            6717 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 787.1+ KB

In [9]:
# name,year,Seats, Torque sütunları drop edilecek
veri_islem.drop(columns=["name","year","seats","torque"],axis=1,inplace=True)
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,16

In [13]:
# Mileage, Engine ve Max_power verilerinin sadece sayısal olmayan kısımları atılacak
veri_islem["mileage"]=veri_islem["mileage"].str.split(" ",expand=True)[0].astype(float)
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248 CC,74 bhp,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498 CC,103.52 bhp,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497 CC,78 bhp,16

In [14]:
veri_islem["engine"]=veri_islem["engine"].str.split(" ",expand=True)[0].astype(float)
veri_islem["max_power"]=veri_islem["max_power"].str.split(" ",expand=True)[0].astype(float)
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,age
0,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74.00,8
1,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,8
2,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78.00,16

#Fuel, Seller_type, Transmission ve Owner kategorik verileri sayısallaştırılacak.

In [18]:
# owner kategorik verisini sayı ile etiketlemek
veri_islem.owner.unique()
veri_islem.owner.replace(to_replace=['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],value=[1,2,3,4,5],inplace=True)
veri_islem.head(3)

,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,age
0,450000,145500,Diesel,Individual,Manual,1,23.40,1248.0,74.00,8
1,370000,120000,Diesel,Individual,Manual,2,21.14,1498.0,103.52,8
2,158000,140000,Petrol,Individual,Manual,3,17.70,1497.0,78.00,16

In [21]:
veri_islem.fuel.unique()
veri_islem.fuel.replace(to_replace=['Diesel', 'Petrol', 'LPG', 'CNG'],value=[1,2,3,4],inplace=True)

In [24]:
veri_islem.seller_type.unique()
veri_islem.seller_type.replace(to_replace=['Individual', 'Dealer', 'Trustmark Dealer'],value=[1,2,3],inplace=True)

In [26]:
veri_islem.transmission.unique()
veri_islem.transmission.replace(to_replace=['Manual', 'Automatic'],value=[1,2],inplace=True)

In [ ]:
veri_islem.info()

sklearn numpy veri türünü kullanır,
veriler 2 boyutlu olmalıdır

In [35]:
X=veri_islem.iloc[:,1:10].values
X.shape
y=veri_islem.iloc[:,0].values.reshape(-1,1)
y.shape

(6717, 1)

In [38]:
# oluşan yeni veriler eğitim ve test verisi olarak 4 parçaya ayrılacak(x_egitim,y_egitim,x_test,y_test)
x_egitim,x_test,y_egitim,y_test=tts(X,y,test_size=0.2,random_state=22)
print(x_egitim.shape)
print(x_test.shape)

(5373, 9)
(1344, 9)

In [39]:
model = lr()
model.fit(x_egitim,y_egitim)

LinearRegression()

In [40]:
model.score(x_test,y_test)

0.6142539317275937

In [41]:
veri_islem.to_csv("arac_fiyat_temiz.csv",index=False)

In [43]:
from joblib import dump
dump(model,"arac_fiyat_model.joblib")

['arac_fiyat_model.joblib']